.card{
  .card-item{
    width: 31.53%;
    margin-right: 1.8%;
    border: 1px solid #00000020;
  }
  .card-title{
    padding: 12px 24px;
  }
  .card-btn{
    line-height: 26px;
    padding: 20px 0;
    background-color: #000;
  }
  .card-icon{
    width: 21px;
    height: 21px;
    margin-right: 12px;
  }
  .card-content{
    padding: 16px 29px 16px 24px;
  }
  .card-text{
    line-height: 30px;
  }
  @include pad(){
  .card-item{
    width: 47.82%;
    margin-right: 2.18%;
    }
    .card-title{
      padding: 8px 0 0 16px;
    }
    .card-icon{
      margin-right: 16px;
    }
    .card-content{
      font-size: 14px;
      padding: 16px 28px 16px 16px;
    }
    .card-btn{
      line-height: 20px;
      padding: 16px 0;
    }
  }
  @include  mobile(){
    .card-item{
      width: 100%;
      margin-right: 0px;
    }
  }
}
