.location-banner{
  background-image: url("../images/qa.png");
  height: 304px;
  .container{
    height: 304px;
  }
  @include mobile(){
    height: 143px;
    .container{
      height: 143px;
    }
  }
}
.location-banner-title{
  line-height: 90px;
  @include pad(){
    line-height: 67px;
  }
  @include mobile(){
    line-height: 40px;
  }
}
.location-banner-img{
  margin-left: 24px;
  @include pad(){
    margin-left: 16px;
    width: 30px;
    height: 44px;
  }
}