.select{
  .select-title{
    line-height: 33px;
    margin-right: 20px;
  } 
  .select-area{
    font-size: 18px;
    line-height: 25px;
    width: 29%;
    padding: 10px 19px;
  }
  @include medium(){
    .select-title{
      font-size: 16px;
      line-height: 20px;
      margin-right: 12px;
    }
    .select-area{
      font-size: 16px;
      line-height: 20px;
      width: 80%;
      padding: 8px 16px;
    }
  }
  @include  pad(){
    .select-title{
      line-height: 20px;
      margin-right: 12px;
    }
    .select-area{
      line-height: 20px;
      width: 78%;
      padding: 8px 16px;
    }
  }
}
