<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/css/all.css">
</head>

<body>
  <!-- header -->
  <header class="header d-flex justify-content-between align-items-center flex-sm-column bg-primary text-white">
    <h1><a href="index.html" class="logo bg-cover">眼鏡電商</a></h1>
    <ul class="navbar d-flex flex-wrap fs-5 lh-7">
      <li class="navbar-item"><a href="optical.html">系列鏡框</a></li>
      <li class="navbar-item"><a href="location.html">門市據點</a></li>
      <li class="navbar-item"><a href="blogs.html"">部落格</a></li>
      <li class="navbar-item"><a href="question.html">常見問題</a></li>
    </ul>
  </header>

  <%- contents %>


  <!-- footer -->
  <footer class="footer bg-primary text-white">
    <div class="container">
      <div class="footerContent d-flex justify-content-between">
        <div class="footerText">
          <ul class="footerNav d-flex mb-9">
            <li class="footerNav-item"><a href="index.html">首頁</a></li>
            <li class="footerNav-item"><a href="optical.html">系列鏡框</a></li>
            <li class="footerNav-item"><a href="location.html">門市據點</a></li>
            <li class="footerNav-item"><a href="blogs.html">部落格</a></li>
            <li class="footerNav-item"><a href="question.html">常見問題</a></li>
          </ul>
          <ul class="contact fs-9 fs-md-5 fs-sm-4 lh-12">
            <li class="tel d-flex align-items-center mb-md-2">
              <img class="telImg" src="./assets/images/icon-phone.svg" alt="電話圖片"><a href="tel:+0800-000-000">0800-000-000</a>
            </li>
            <li class="mail d-flex align-items-center">
              <img class="mailImg" src="./assets/images/icon-mail.svg" alt="信箱圖片"><a href="mailto:glasses@business.com">glasses@business.com</a>
            </li>
          </ul>
        </div>
        <ul class="fas d-flex">
          <li class="fas-item"><a href="#"><img class="fasImg" src="./assets/images/icon-fb.svg" alt="FbIcon"></a></li>
          <li class="fas-item"><a href="#"><img class="fasImg" src="./assets/images/icon-ig.svg" alt="IgIcon"></a></li>
          <li class="fas-item"><a href="#"><img class="fasImg" src="./assets/images/icon-line.svg" alt="LineIcon"></a></li>
        </ul>
      </div>
      <div class="horizontalLine"></div>
      <!-- copyright -->
      <div class="copyright d-flex justify-content-between align-items-center flex-sm-column">
        <div class="copyrightText d-flex align-items-center">
          <img class="copyrightLogo" src="./assets/images/logo.png" alt="商標logo圖片">
          <span class="lh-6">Copyright © 2020 Glasses.All rights reserved.</span>
        </div>
        <div class="terms">
          <span class="policy mb-sm-2">隱私權政策</span>
          <span class="service">服務條款</span>
        </div>
        <img class="bottomLogo" src="./assets/images/logo.png" alt="商標logo圖片">
      </div>
    </div>
  </footer>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
