// breadcrumb
.breadcrumb{
  padding-top: 8px;
}
// blog
.blog{
  padding: 82px 0 156px 0;
  .blogImg{
    object-fit:cover;
    max-width: 57.2%;    
    margin-right: 30px;
  }
  .blogTitle{
    line-height: 45px;
  }
  .blogSubtitle{
    line-height: 26px;
  }
  .blogContent{
    position: relative;
  }
  .blogText{
    color: #555555;
    line-height: 30px;
  }
  .date{
    line-height: 21px;
  }
  .blogTextMore{
    color: #555555;
    display: none;
  }
  .more{
    position: absolute;
    right: 0;
    bottom: 0;
  }
  @include medium(){
    padding: 40px 0 104px 0;
    .blogImg{
      max-width: 47.82%;    
    }
    .blogTitle{
      line-height: 28px;
    }
    .blogSubtitle{
      line-height: 21px;
    }
    .date{
      font-size: 14px;
      line-height: 19px;
    }
    .blogText{
      font-size: 14px;
      line-height: 21px;
    }
    .blogTextMore{
      display: inline-block;
    }
    .more{
      display: none;
    }
  }
  @include pad(){
    padding: 24px 0 56px 0;
    .blogs{
      margin-bottom: 13px;
    }
    .blogItem{
      margin-bottom: 26px;
    }
    .blogImg{
      max-width: 100%;    
      margin-right: 0px;
    }
    .blogSubtitle{
      line-height: 22px;
    }
    .blogSubtitle{
      font-size: 14px; 
    }
    .blogText{
      display: none;
    }
  }
}