// banner
.banner{
  height: 840px;
  background-image:url("../images/banner.png");  
  @include pad(){
    height: 394px;
  }
  .bannerSubtitle{
    text-align: end;
    line-height: 50px;
  }
  @include pad(){
    .bannerSubtitle{
      line-height: 22px;
    }
    .bannerTitle{
      line-height: 45px;
    }
  }
}
// info
.info{
  padding: 64px 0 80px 0;
  .infoContent{
    align-items: baseline;
  }
  .infoItem{
    width: 19%;
  }
  .infoImg{
    margin: 0px auto 40px auto;
  }
  @include medium(){
    padding: 40px 0 80px 0;
    .infoItem{
      width: 34.34%;
      h5{
        line-height: 28px;
      }
    }
    .infoImg{
      margin: 0px auto 40px auto;
    }
  }
  @include pad(){
    padding: 32px 0 52px 0;
    .infoTitle{
      line-height: 33px;
    }
    .infoItem{
      margin: 0 auto;
      width: 68.7%;
    }
    .infoImg{
      margin: 0px auto 40px auto;
    }
  }
}

// series
.series{
  .seriesWhiteIcon{
    display: none;
  }
  .seriesIcon{
    width: 48px;
    margin-left: 30px;
  }
  .seriesImg{
    max-width: 57.7%;
  }
  .seriesSubtitle{
    line-height: 63px;
  }
  .seriesItem:nth-child(2) .seriesSubtitle{
    margin-right: 30px;
  }
  
  @include medium(){
    .seriesImg{
      margin-left: 0;
    }
    .seriesIcon{
      width: 32px;
    }
    .seriesSubtitle{
      line-height: 37px;
    }
  }
  @include pad(){
    .seriesTitle{
      line-height: 45px;
    }
    .seriesImg{
      max-width: 100%;
      margin-right: 0;
    }
    .seriesItem{
      position: relative;    
    }
    .seriesText{
      position: absolute;
      a{
        color: #fff;
      }
    }
    .seriesWhiteIcon{
      display: block;
    }
    .seriesIcon{
      display: none;
    }
    .seriesSubtitle{
      line-height: 63px;
    }
  }
}

// wall
.wall{
  padding: 64px 0 80px 0;
  background-image: url("../images/bg.png");
  .wallItem{
    line-height: 95px;
    width: 49%;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #fff;
      opacity: 50%;
    }
    h2{
      z-index: 99;
      position: absolute;
      a:hover{
        color: rgb(163, 64, 64);
      }
    }
  }
  @include medium(){
    padding: 40px 0 40px 0;
    .wallTitle{
      line-height: 45px;
    }
  }
  @include pad(){
    padding: 32px 0 32px 0;
    .wallTitle{
      line-height: 28px;
    }
    .wallItem{
      width: 100%;
    }
  }
}

// indexCustomer
.customer{
  .customerItem{
    width: 23.18%;
  }
  .customerContent{
    border: 1px solid #DEE2E6;
    padding: 14px 16px 15px 16px;
  }
  .customerName,.update{
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 7px;
  }
  .customerText{
    margin-bottom: 10px;
  }
  @include medium(){
    .customerTitle{
      line-height: 45px;
    }
    .customerItem{
      width: 47.8%;
    }
  }
  @include pad(){
    .indexCustomerTitle{
      line-height: 28px;
    }
    .customerItem{
      width: 100%;
    }
  }
}

// indexContact
.contactUs{
  .contactUsContent{
    padding: 64px 0 80px 0;
  }
  label,
  input,
  textarea,
  .send{
    line-height: 22px;
  }
  p{
    line-height: 30px;
  }
  form{
    width: 66.36%;
    margin: 0 auto;
  }
  input{
    padding: 14px 16px;
  }
  textarea{
    padding: 14px 0 100px 16px;
    resize:none;
  }
  .send{
    padding: 16px 0;
    border: 0px;
    width: 48%;
    cursor:pointer;
  }
  .form-control{
    display: block;
    width: 100%;
  }
  .agreeGroup{
    margin-bottom: 42px;
  }
  @include medium(){
    .contactUsTitle{
      line-height: 45px;
    }
    .contactUsContent{
      padding: 40px 0;
    }
    p{
      line-height: 24px;
    }
    form{
      width: 100%;
    } 
    .send{
      padding: 8px 0;
    }
    .agreeGroup{
      margin-bottom: 20px;
    }
  }
  @include pad(){
    .contactContent{
      padding: 32px 0;
    }
    .indexContactTitle{
      line-height: 28px;
    }
    .agreeGroup{
      margin-bottom: 24px;
    }
  }
}
