.sitemap{
  margin-bottom: 304px;
  @include medium(){
    margin-bottom: 104px;
  }
  @include pad(){
    margin-bottom: 56px;
  }
}
.locationDetail{
  width: 40%;
  margin-bottom: 32px;
  border: 1px solid #00000020;
  .cardImg{
    height: 224px;
    overflow: hidden;
    object-fit:cover;
  }
  @include medium(){
    width: 100%;
    .locationDetailContent{
      margin-left: 30px;
    }
    .cardImg{
      height: 164px;
      width: 47.82%;
    }
  }
  @include pad(){
    margin-bottom: 16px;
    .locationDetailContent{
      margin-left: 0;
    }
    .cardImg{
      width: 100%;
    }
  }
}
.map{
  width: 47.5vw; 
  height: 31vw;
  @include medium(){
    width: 100%;
  }
}