.question{
  padding: 80px 0 264px 0;
  h2{
    line-height: 45px;
  }
  h3{
    line-height: 28px;
  }
  p{
    padding: 16px 0px 40px 95px;
    line-height: 24px;
  }
  @include medium(){
    padding: 40px 0 64px 0;
    p{
      padding: 16px 0px 40px 60px;
    }
  }
  @include pad(){
    padding: 24px 0 56px 0;
    h2{
      line-height: 28px;
    }
    h3{
      line-height: 22px;
    }
    p{
      font-size: 14px;
      line-height: 21px;
      padding: 8px 0px 36px 0px;
    }
  }
}