.product-sun{
  padding-top: 88px;
  .sun-title{
    font-size: 42px;
    line-height: 63px;
  }
  .sun-item{
    margin-bottom: 112px;
  }
  .sun-img{
    min-width: 100%;
    height: 224px;
  }
  .sun-content{
    font-size: 18px;
  }
  .sun-item-title{
    margin-bottom: 8px;
  }
  .sun-item-subtitle{
    margin-bottom: 11px;
  }
  @include pad(){
    padding-top: 40px;
    .sun-title{
      font-size: 32px;
      line-height: 43px;
    }
    .sun-item{
      margin-bottom: 72px;
    }
    .sun-subtitle{
      line-height: 33px;
    }
    .sun-content{
      font-size: 24px;
      line-height: 32px;
    }
    .sun-item-title{
      margin-bottom: 0px;
    }
    .sun-item-subtitle{
      margin-bottom: 0px;
    }
  }
  @include mobile(){
    padding-top: 30px;
    .sun-title{
      font-size: 20px;
      line-height: 26px;
    }
    .sun-item{
      margin-bottom: 32px;
    }
    .sun-subtitle{
      line-height: 22px;
    }
    .sun-content{
      font-size: 16px;
      line-height: 21px;
    }
  }
  .sun-item{
    width: 31.53%;
    @include pad(){
      width: 47.82%;
    }
    @include mobile(){
      width: 100%;
    }
  }
}