// 字體大小(4倍數)
.fs-5{
  font-size: 20px;
}
.fs-6{
  font-size: 24px;
}
.fs-7{
  font-size: 28px;
}
.fs-8{
  font-size: 32px;
}
.fs-9{
  font-size: 36px;
}
.fs-12{
  font-size: 48px;
}
.fs-16{
  font-size: 64px;
}
.fs-18{
  font-size: 72px;
}
// 行高(4倍數)
.lh-6{
  line-height: 24px;
}
.lh-7{
  line-height: 28px;
}
.lh-8{
  line-height: 32px;
}
.lh-9{
  line-height: 36px;
}
.lh-12{
  line-height: 48px;
}
.lh-20{
  line-height: 80px;
}
// margin-bottom(4倍數)
.mb-1{
  margin-bottom: 4px;
}
.mb-2{
  margin-bottom: 8px;
}
.mb-4{
  margin-bottom: 16px;
}
.mb-5{
  margin-bottom: 20px;
}
.mb-6{
  margin-bottom: 24px;
}
.mb-8{
  margin-bottom: 32px;
}
.mb-9{
  margin-bottom: 36px;
}
.mb-10{
  margin-bottom: 40px;
}
.mb-15{
  margin-bottom: 60px;
}
.mb-16{
  margin-bottom: 64px;
}
.mb-20{
  margin-bottom: 80px;
}
.mb-22{
  margin-bottom: 88px;
}
.mb-25{
  margin-bottom: 100px;
}
.mb-26{
  margin-bottom: 104px;
}
.mb-36{
  margin-bottom: 144px;
}
.mb-68{
  margin-bottom: 272px;
}
.mb-76{
  margin-bottom: 304px;
}
// margin-left(8倍數)
.ml-1{
  margin-left: 8px;
}
.ml-6{
  margin-left: 48px;
}
.ml-8{
  margin-left: 64px;
}
.ml-21{
  margin-left: 189px;
}
// margin-right(8倍數)
.mr-1{
  margin-right: 8px;
}
.mr-3-75{
  margin-right: 30px;
}
// margin-left(8倍數)
.ml-1{
  margin-left: 8px;
}
// Flex
.d-flex{
  display: flex;
}
.align-items-start{
  align-items: flex-start;
}
.align-items-center{
  align-items: center;
}
.align-items-end{
  align-items: flex-end;
}
.justify-content-center{
  justify-content: center;
}
.flex-column{
  flex-direction: column;  
}
.flex-row-reverse{
  flex-direction: row-reverse;
}
.flex-wrap{
  flex-wrap: wrap;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-around{
  justify-content: space-around;
}
.justify-content-end{
  justify-content: flex-end
}
// pad版 
@include pad(){
  //大小
  .fs-md-4{
    font-size: 16px;
  }
  .fs-md-5{
    font-size: 20px;
  }
  .fs-md-6{
    font-size: 24px;
  }
  .fs-md-7{
    font-size: 28px;
  }
  .fs-md-8{
    font-size: 32px;
  }
  .fs-md-12{
    font-size: 48px;
  }
  //行高
  .lh-md-6{
    line-height: 24px;
  }
  .lh-md-7{
    line-height: 28px;
  }
  //margin-bottom
  .mb-md-0-5{
    margin-bottom: 2px;
  }
  .mb-md-2{
    margin-bottom: 8px;
  }
  .mb-md-3{
    margin-bottom: 12px;
  }
  .mb-md-4{
    margin-bottom: 16px;
  }
  .mb-md-5{
    margin-bottom: 20px;
  }
  .mb-md-6{
    margin-bottom: 24px;
  }
  .mb-md-7{
    margin-bottom: 28px;
  }
  .mb-md-8{
    margin-bottom: 32px;
  }
  .mb-md-10{
    margin-bottom: 40px;
  }
  .mb-md-18{
    margin-bottom: 72px;
  }
  .mb-md-21{
    margin-bottom: 84px;
  }
  .mb-md-26{
    margin-bottom: 104px;
  }
  //flex
  .d-md-flex{
    display: flex;
  }
  .justify-md-content-between{
    justify-content: space-between;
  }
  .flex-md-column{
    flex-direction: column;
  }
  .flex-md-row{
    flex-direction: row;
  }
}
//手機板
@include mobile(){
  //大小
  .fs-sm-4{
    font-size: 16px;
  }
  .fs-sm-5{
    font-size: 20px;
  }
  .fs-sm-6{
    font-size: 24px;
  }
  .fs-sm-7{
    font-size: 28px;
  }
  .fs-sm-8{
    font-size: 32px;
  }
  //margin-bottom
  .mb-sm-0{
    margin-bottom: 0px;
  }
  .mb-sm-2{
    margin-bottom: 8px;
  }
  .mb-sm-3{
    margin-bottom: 12px;
  }
  .mb-sm-4{
    margin-bottom: 16px;
  }
  .mb-sm-5{
    margin-bottom: 20px;
  }
  .mb-sm-8{
    margin-bottom: 32px;
  }
  .mb-sm-10{
    margin-bottom: 40px;
  }
  //flex
  .flex-sm-column{
    flex-direction: column;
  }
  .justify-sm-content-center{
    justify-content: center;
  }
  .flex-sm-row-reverse{
    flex-direction: row-reverse;
  }
  .flex-sm-content-end{
    justify-content: flex-end;
  }
}
